
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Event Details</h3>
</div>
<div class="modal-body">
	<%= form_tag("/signin/update_calendar_event/#{event.id}", :id => "update_event", :method => "post") do %>
	    <div class="form-group">
	        Summary: <%= text_field_tag "event[summary]", event.summary, class: "form-control", placeholder: "Summary", id: "summary" %> <br/>
	        Start Time: <%= text_field_tag "event[start_time]", event.start.dateTime, class: "form-control", placeholder: "Start Time", id: "start_time" %> <br/>
	        End Time: <%= text_field_tag "event[end_time]", event.end.dateTime, class: "form-control", placeholder: "End Time", id: "end_time" %> <br/>
	        Location: <%= text_field_tag "event[location]", event.location, class: "form-control", placeholder: "Location", id: "location" %> <br/>
	        Organizer Name: <%= text_field_tag "event[organizer_name]", event.organizer.displayName, class: "form-control", placeholder: "Organizer Name", id: "organizer_name" %> <br/>
	        Organizer Email: <%= text_field_tag "event[organizer_email]", event.organizer.email, class: "form-control", placeholder: "Organizer Email", id: "organizer_email" %> <br/>
	        Creator Name: <%= text_field_tag "event[creator_name]", event.creator.displayName, class: "form-control", placeholder: "Creator Name", id: "creator_name" %> <br/>
	        Creator Email: <%= text_field_tag "event[creator_email]", event.creator.email, class: "form-control", placeholder: "Creator Email", id: "creator_email" %> <br/>
	        Description: <%= text_field_tag "event[description]", event.description, class: "form-control", placeholder: "Description", id: "description" %> <br/>
	        Status: <%= text_field_tag "event[status]", event.status, class: "form-control", placeholder: "Status", id: "status" %> <br/>
	        Visibility: <%= text_field_tag "event[visibility]", event.visibility, class: "form-control", placeholder: "Visibility", id: "visibility" %> <br/>
	    </div>
   	<% end %>
  	<!-- <div>Summary: <%= event.summary %></div>
  	<div>Start Time: <%= event.start.dateTime %></div>
  	<div>End Time: <%= event.end.dateTime %></div>
  	<div>Location: <%= event.location %></div>
  	<div>Organizer: <%= event.organizer.displayName %> - <%= event.organizer.email %></div>
  	<div>Creator: <%= event.creator.displayName %> - <%= event.creator.email %></div>
  	<div>Description: <%= event.description %></div>
  	<div>Attendees: <ul>
  						<% event.attendees.each do |attendee| %>
  							<li>Name: <%= attendee.displayName %> , Email: <%= attendee.email %> , Response Status: <%= attendee.responseStatus %></li>
  						<% end %>
  					</ul>
  	</div>
  	<div>Status: <%= event.status %></div>
  	<div>Visibility: <%= event.visibility %></div> -->
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" id="update_button">Update</button>
</div>

<script type="text/javascript">
    $('#update_button').click(function(){
        $('#update_event').submit();
    });
</script>